<h2>Редактирование тропинки</h2>
<div>
  <form (ngSubmit)="saveTrack()" #trackForm="ngForm">
    <div class="form-field">
      <label for="name" class="form-field-label">Наименование</label>
      <input type="text"  id="nameInput"  class="form-field-control"  
        required [(ngModel)]="track.name" name="name" #nameInput="ngModel" placeholder="Укажите наименование тропинки...">
    </div>

    <div class="form-field">
      <label for="description" class="form-field-label">Описание</label>  
      <textarea type="text"  id="descriptionInput" class="form-field-control"
        required [(ngModel)]="track.description" name="description" #descriptionInput="ngModel" placeholder="Укажите описание тропинки..."></textarea>
    </div>

    <button type="submit" class="btn form-btn" >
      <span class="btn-icon"></span>
      Сохранить
    </button>
</form>
</div>