<h2>Просмотр тропинки</h2>

<div>
    <form>

        <rating-form-field [object]="track"></rating-form-field>

        <div class="form-field">
            <label for="name" class="form-field-label">Наименование</label>
            <p name="name" class="form-field-text">{{track.name}}</p>
        </div>

        <div class="form-field">
            <label for="description" class="form-field-label">Описание</label>
            <p name="name" class="form-field-text">{{track.description}}</p>
        </div>        

        <div class="form-field">
            <label for="sections" class="form-field-label">Секции</label>
            <div class="form-list-field">
                <ol class="list-unstyled">
                    <list-item *ngFor="let section of trackSections" id="sections"
                        [item]="section"
                        [makeDraggable]="section" makeDroppable (dropped)="onDrop($event, section)"
                        (dblClick)="viewSection($event)"
                        (delete)="deleteSection($event)">
                    </list-item>
                </ol>
            </div>
        </div>
    </form>

    <button type="button" class="btn form-btn" (click)="createSection(); $event.stopPropagation()">
      <span class="btn-icon"></span>
      Добавить секцию
    </button>
    <br>
    <button type="button" class="btn form-btn" (click)="editTrack(); $event.stopPropagation()">
      <span class="btn-icon"></span>
      Редактировать тропинку
    </button>    

</div>