<h2>Просмотр ссылки</h2>

<div>
  <form>

    <rating-form-field [object]="sectionLink"></rating-form-field>

    <div class="form-field">
        <label for="href" class="form-field-label">Адрес</label>
        <a name="href" class="form-field-text" href="{{sectionLink.href}}" >{{sectionLink.href}}</a>
    </div>

    <div class="form-field">
        <label for="description" class="form-field-label">Описание</label>
        <p name="description" class="form-field-text">{{sectionLink.description}}</p>
    </div>

    <button type="submit" class="btn form-btn"  (click)="editSectionLink(); $event.stopPropagation()">
      <span class="btn-icon"></span>
      Редактировать ссылку
    </button>
  </form>
</div>