<h2>Редактирование ссылки</h2>

<div>
  <form (ngSubmit)="saveSectionLink()" #sectionLinkForm="ngForm">

    <div class="form-field">
      
      <label for="href" class="form-field-label">Адрес</label>
      
      <input type="url"  id="hrefInput"  class="form-field-control"
        required [(ngModel)]="sectionLink.href" name="href" #hrefInput="ngModel" placeholder="Укажите адрес ссылки...">

    </div>

    <div class="form-field">
      
      <label for="description" class="form-field-label">Описание</label>
      
      <textarea type="text"  id="descriptionInput" class="form-field-control"
        required [(ngModel)]="sectionLink.description" name="description" #descriptionInput="ngModel" placeholder="Укажите описание..."></textarea>

    </div>

    <button type="submit" class="btn form-btn" >
      <span class="btn-icon"></span>
      Сохранить
    </button>
  </form>
</div>