<h2>Регистрация</h2>

<div>
    <form (submit)="signUp($event, userNameInput.value, userPasswordInput.value, userFirstNameInput.value, userSecondNameInput.value, userEmailInput.value)" #signInForm="ngForm">
        <div class="form-field">
            <label for="userName" class="form-field-label">Логин</label>
            <input id="userNameInput" type="text" class="form-field-control" required name="userName" #userNameInput placeholder="Укажите логин..."
                value="new_user">
        </div>

        <div class="form-field">
            <label for="userFirstName" class="form-field-label">Имя</label>
            <input id="userFirstNameInput" type="text" class="form-field-control" required name="userFirstName" #userFirstNameInput placeholder="Укажите имя пользователя..."
                value="new name">
        </div>

        <div class="form-field">
            <label for="userSecondName" class="form-field-label">Фамилия</label>
            <input id="userSecondNameInput" type="text" class="form-field-control" required name="userSecondName" #userSecondNameInput placeholder="Укажите фамилию пользователя..."
                value="new second name">
        </div>        

        <div class="form-field">
            <label for="userEmail" class="form-field-label">Email</label>
            <input id="userEmailInput" type="email" class="form-field-control" required name="userEmail" #userEmailInput placeholder="Укажите адрес электронной почты..."
                value="newEmail@gmail.com">
        </div>        

        <div class="form-field">
            <label for="userPassword" class="form-field-label">Пароль</label>
            <input id="userPasswordInput" type="password" class="form-field-control" required name="userPassword" #userPasswordInput placeholder="Укажите пароль..."
                value="12345">
        </div>        

        <button type="submit" class="btn form-btn" >
            <span class="btn-icon"></span>
            Ok
        </button>
    </form>
</div>