<h2>Вход</h2>

<div>
    <form (submit)="signIn($event, userNameInput.value, userPasswordInput.value)" #signInForm="ngForm">
        <div class="form-field">
            <label for="userName" class="form-field-label">Логин</label>
            <input id="userNameInput" type="text" class="form-field-control" required name="userName" #userNameInput placeholder="Введите логин..."
                value="brichev_pavel">
        </div>

        <div class="form-field">
            <label for="userPassword" class="form-field-label">Пароль</label>
            <input id="userPasswordInput" type="password" class="form-field-control" required name="userPassword" #userPasswordInput placeholder="Введите пароль..."
                value="12345">
        </div>

        <button type="submit" class="btn form-btn" >
            <span class="btn-icon"></span>
            Ok
        </button>
    </form>
</div>

<h2>Участники проекта</h2>
<ul>
    <li *ngFor="let user of users">
    <span class="form-field-label">{{user.id}}</span> <b>{{user.firstName}} {{user.secondName}}</b> ({{user.name}} / {{user.password}}) 
    </li>
</ul>
