<li class="choose-list-item" (dblclick)="onDblClick()" (click)="onClick()">
    <span *ngIf="needShowOrderIndex">{{item.orderNumber+1}}. </span>
    <span [ngClass]="elementSpanStyles" (click)="onElementClick()">{{item.name}} {{item.description}}</span>
    <span class="choose-list-item-btn" *ngIf="item.id > -1" (click)="onDelete(); $event.stopPropagation()">X</span>
</li>