<h2>Опаньки...</h2>
<div class="errorBlock">Произошла ошибка: {{errorText}}</div>

<button type="button" class="btn form-btn" (click)="goBack(); $event.stopPropagation()">
    <span class="btn-icon"></span>
    Назад
</button>