<h2>Упс...</h2>
<div class="errorBlock">Запрашиваемая страница не найдена!</div>

<button type="button" class="btn form-btn" (click)="goBack(); $event.stopPropagation()">
    <span class="btn-icon"></span>
    Назад
</button>