﻿* {
    margin: 0;
    padding: 0;
}



h2 {
	background: #00648D;
	color: #DDEEFF;
	padding: 5px;
	font-size: 18px;
}

.choose-list-item {
    padding: 2px 10px;
    margin: 1px 0;
    background: #FFFFFF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    /*border: 1px solid #BBCCDD;*/
    height: 32px;
    line-height:24px;
    font-weight: bold;
    color: #003B61;
    overflow: hidden;
    text-overflow: elipsis;
    cursor: default;
    position: relative;
    /*overflow: hidden;
    text-overflow: ellipsis;*/
}

.choose-list-item:hover {
	background: #DDEEFF;
}

.choose-list-item:hover .choose-list-item-btn {
	visibility: visible;
}

.choose-list-item.selected {
    /*font-weight: bold;*/
    background: #0074BD;
    color: #FFFFFF;
    /*border: 1px solid #0074BD;*/
}

.choose-list-item-btn {
	height: 16px;
	width: 16px;
	background: #D9534F;
	color: #FFFFFF;
	border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    top: 8px;
    right: 8px;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    border-width: 0;
    position: absolute;
    padding: 0;
    visibility: hidden;
}

.choose-list-item-btn:hover {
	background: #D43F3A
}

.errorBlock {
	background: #FFB6C1;
	
	padding: 5px;
    border-style: solid;
    border-color: #FF0000;
	font-size: 14px;
    margin: 10px;
}

.form-field-control:focus 
{
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
  border-radius: 5px; 
}

.form-field-control {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
  border-radius: 5px;

  width: 400px;
}

.form-field-text 
{
    display: inline-block;
    outline: none;
    padding: 3px 0px 3px 10px;
    margin: 5px 1px 3px 0px;
    width: auto;
}
 
.ng-valid[required], .ng-valid.required, .ng-valid[required]:focus, .ng-valid.required:focus  {
  border-left: 6px solid #42A948; 
}

.ng-invalid:not(form), .ng-invalid:not(form):focus  {
  border-left: 6px solid #a94442; 
}

textarea
{
    resize: none;
    height: 70px;
}

.form-field-label
{
    width: 150px;
    padding-top: 5px;
    padding-left: 20px;
    vertical-align: top;
}

.form-field
{

}

.form-btn
{
    margin-left: 20px;
    margin-bottom: 10px;
    width: auto;
    min-width: 100px;
}

.form-list-field
{
    display: inline-block;
     width: 400px;

}
.auth-btns-div
{
    padding:5px;
    display: inline-block;
    text-align: right;
    width: 100%;
}

.auth-btn
{
    padding: 3px 6px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.title-div
{
    width: 100%;
}

.title-h1
{
    margin-top: 0px;
    cursor: pointer;
}

.breadCrumbLink
{
    display: inline;
    color: #DDEEFF;
}

.breadCrumbLink:hover
{
    cursor: pointer;
    color: #FF0000;
    text-decoration: none;
}

.activeBreadCrumbLink
{
    display: inline;
    color: #FF0000;
}

.activeBreadCrumbLink:hover
{
    cursor: default;
}

.link
{
    text-decoration: underline;
    cursor: pointer;
}

.blur 
{
  -webkit-filter: blur(5px);
     -moz-filter: blur(5px);
       -o-filter: blur(5px);
      -ms-filter: blur(5px);
          filter: blur(5px);
}

.loader-div
{
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
    z-index: 100;
}

.loader2
{
    vertical-align: middle;
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 30;
    color: red;    
}

.spinner 
{
  position: fixed;
    top: 50%;
    left: 50%;

  width: 70px;
  text-align: center;
}

.spinner > div 
{
    width: 12px;
    height: 12px;
    background-color: #0074BD;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 
{
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;

}

.spinner .bounce2 
{
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
   
}

@-webkit-keyframes sk-bouncedelay 
{
    0%, 80%, 100% 
    {
        -webkit-transform: scale(0) 
    }
    40%
    {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay 
{
    0%, 80%, 100% 
    { 
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% 
    {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

label 
{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 0px;
  font-weight: bold;
}

.form-field-rating
{
    display: inline-block;
    outline: none;
    padding: 3px 10px 3px 10px;
    margin: 5px 1px 3px 0px;
    width: auto;
    	
}

.form-field-rating > p
{
    padding: 0;
    margin: 0;
}

.ratingMark
{
    display: inline-block;
    height: 20px;
}