<div class="form-field">
    <label for="rating" class="form-field-label">Рейтинг</label>
  
        <div *ngIf="!isItEditMode" class="form-field-rating" (click)="editObjectUserRating(); $event.stopPropagation()">
            <p name="rating">{{userRatingValue}}/{{averageRatingValue}}</p>
        </div>

        <div *ngIf="isItEditMode" class="form-field-rating">
             <div class="ratingMark" *ngFor="let mark of marks">
                 <label> {{mark.value}} </label>
                 <input type="radio" name="rating" [value]="mark.value" [checked]="mark.checked" (change)="onObjectUserRatingChange(mark)">
                 <label> &nbsp;&nbsp;&nbsp; </label>
            </div>
        </div>


</div>