<h2>Просмотр секции</h2>

<div>
    <form>

        <rating-form-field [object]="section"></rating-form-field>

        <div class="form-field">
            <label for="name" class="form-field-label">Наименование</label>
            <p name="name" class="form-field-text">{{section.name}}</p>
        </div>

        <div class="form-field">
            <label for="description" class="form-field-label">Описание</label>
            <p name="description" class="form-field-text">{{section.description}}</p>
        </div>

        <div class="form-field">
            <label for="estimateTime" class="form-field-label">Лимит времени</label>
            <p name="estimateTime" class="form-field-text">{{section.estimate}}</p>
        </div>

        <div class="form-field">
            <label for="sectionLinks" class="form-field-label">Ссылки</label>
            <div class="form-list-field">
                <ol class="list-unstyled">
                    <list-item *ngFor="let link of sectionLinks" id="sectionLinks" [needShowOrderIndex]="false" [elementSpanStyles] = "['link']"
                        [item]="link"
                        [makeDraggable]="link" makeDroppable (dropped)="onDrop($event, link)"
                        (dblClick)="viewSectionLink($event)"
                        (elementClick)="navigateOnSectionLink($event)"
                        (delete)="deleteSectionLink($event)">
                    </list-item>
                </ol>
            </div>
        </div>

    </form>

    <button type="button" class="btn form-btn" (click)="addLinkToSection(); $event.stopPropagation()">
      <span class="btn-icon"></span>
      Добавить ссылку
    </button>
    
    <br>

    <button type="button" class="btn form-btn" (click)="editSection(); $event.stopPropagation()">
      <span class="btn-icon"></span>
      Редактировать секцию
    </button>

</div>