<h2>Редактирование секции</h2>

<div>
  <form (ngSubmit)="saveSection()" #sectionForm="ngForm">

    <div class="form-field">
      
      <label for="name" class="form-field-label">Наименование</label>
      
      <input type="text"  id="nameInput"  class="form-field-control"
        required [(ngModel)]="section.name" name="name" #nameInput="ngModel" placeholder="Укажите наименование секции...">

    </div>

    <div class="form-field">
      
      <label for="description" class="form-field-label">Описание</label>
      
      <textarea type="text"  id="descriptionInput" class="form-field-control"
        required [(ngModel)]="section.description" name="description" #descriptionInput="ngModel" placeholder="Укажите описание секции..."></textarea>

    </div>

     <div class="form-field">

      <label for="estimateTime" class="form-field-label">Лимит времени</label>

      <input type="number" id="estimateTimeInput"  class="form-field-control"
        required [(ngModel)]="section.estimate" name="estimate" #nameInput="ngModel" placeholder="Укажите приблизительную оценку по времени...">
    </div>


    <button type="submit" class="btn form-btn" >
      <span class="btn-icon"></span>
      Сохранить
    </button>
  </form>
</div>