<h2>
	<span *ngFor="let breadCrumb of breadCrumbsList"><a  class="breadCrumbLink" (click)="navigateToLink(breadCrumb)" > {{breadCrumb.name}} </a>-</span>
	<span *ngIf="activeBreadCrumb" class="activeBreadCrumbLink" > {{activeBreadCrumb.name}} </span>
</h2>


	
		
	
