<div>
  <h3 style="padding-left: 20px;">Добро пожаловать в Иггдраси́ль!</h3>

  <p style="padding-left: 20px; text-indent: 20px;"><b>Иггдраси́ль</b> (также Игдразил, швед. Yggdrasills, Yggdrasil) — мировое дерево (дерево жизни) в германо-скандинавской мифологии — исполинский ясень (или тис), в виде которого скандинавы представляли себе вселенную. Северные германцы отождествляли Иггдрасиль с Ирминсулем, выполнявшим те же функции... (<a href="https://ru.wikipedia.org/wiki/%D0%98%D0%B3%D0%B3%D0%B4%D1%80%D0%B0%D1%81%D0%B8%D0%BB%D1%8C">узнать больше</a>)</p>

</div>