﻿<div *ngIf="isLoaderVisible" class='loader-div'>
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>   
</div>

<div [ngClass]="contentDivStyles">

    <div class="title-div">
    
        <div class="auth-btns-div">
            <button *ngIf="!currentUser" type="button" class="btn form-btn auth-btn" (click)="signIn()">Вход</button>
            <button *ngIf="!currentUser" type="button" class="btn form-btn auth-btn" (click)="signUp()">Регистрация</button>

            <button *ngIf="currentUser" type="button" class="btn form-btn auth-btn" (click)="navigateToDashboard()">Рабочий стол</button>
            <button *ngIf="currentUser" type="button" class="btn form-btn auth-btn" (click)="logout()">Выход</button>
        </div>
        
        <h1 class="title-h1"><a (click)="navigateToHome()"> Yggdrasil</a></h1>
    </div>

    <bread-crumbs></bread-crumbs>
    <router-outlet></router-outlet>
</div>