<h2>Тропинки</h2>
<ul class="list-unstyled">
	<li *ngFor="let track of tracks" (click)="onSelect(track)"
		(dblclick)="editTrack(track)" 
		class="choose-list-item"
		[class.selected]="track === currentTrack">
		{{track.name}}
		<span (click)="deleteTrack(track); $event.stopPropagation()" 
				class="choose-list-item-btn">
			X
		</span>
	</li>
</ul>
<button (click)="createTrack(); $event.stopPropagation()"
		class="btn" >
	<span class="btn-icon"></span>
	Добавить тропинку
</button>